* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing {
  min-height: 100vh;
  background: rgba(185, 176, 176, 0.4);
  background-image: 
 linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0,
      rgba(0, 0, 0, 0.3) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url('https://assets.nflxext.com/ffe/siteui/vlv3/84b453b4-0d46-4f2c-bd44-81aa6c19c6b5/0bd58a40-629e-4e9d-9e1c-d30148cf97f2/GH-en-20201116-popsignuptwoweeks-perspective_alpha_website_small.jpg');
  background-size: cover;
}

nav {
  display: flex;
  padding: 25px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  position: absolote;
  left: 50%;
  top: 50%;
  align-items: center;
  justify-content: center;
}
.landing__logo {
  width: 15%;
  height: 15%;
  cursor: pointer;
  object-fit: contain;
}

.landing__button {
  border: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 7px 17px;
  border-radius: 5px;
  background: #d81f26;
  color: white;
  cursor: pointer;
}

#big-text {
  font-size: 4rem;
  font-weight: 500;
  padding: 0.5rem;
}

#small-text {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem;
}

#smaller-text {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.landing__message {
  color: white;
  width: 50%;
  position: absolute;
  top: 30%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: -25px 0 0 -25px;
  font-size: 25px;
}

.landing__input {
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
}

.landing__button-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__get-started {
  flex: 1;
  cursor: pointer;
  padding: 0.5rem;
  color: white;
  background-color: #d81f26;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
}

.landing__email {
  flex: 2;
  padding: 0.5rem;
  border: none;
  height: 50px;
  margin-right: 3px;
  border-radius: 5px;
  font-size: 1rem;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .landing__logo {
    width: 35%;
  }

  .landing__button {
    width: 80%;
    padding: 5px 10px;
  }

  .landing__message{
    width: 60%;
    margin-left: 15px;
  }

  #big-text {
    font-size: 2.5rem;
  }

  #small-text {
    font-size: 1.2rem;
  }

  #smaller-text {
    font-size: 1rem;
  }

  .landing__button-bar {
    flex-direction: column;
  }

  .landing__get-started,
  .landing__email {
    font-size: 1rem;
    height: min-content;
  }

  .landing__get-started {
    width: 60%;
    font-size: 0.75rem;
    margin-top: 10px;
  }

  .landing__email {
    width: 100%;
    padding: 7px 10px;
  }
}

@media only screen and (min-width: 430px) and (max-width: 768px) {
  .landing__logo {
    width: 20%;
  }

  .landing__button {
    width: 20%;
    padding: 5px 10px;
  }

  #big-text {
    font-size: 3.3rem;
  }

  #small-text {
    font-size: 1.5rem;
  }

  #smaller-text {
    font-size: 1.3rem;
  }

  .landing__button-bar {
    flex-direction: column;
  }

  .landing__get-started,
  .landing__email {
    font-size: 2rem;
    height: min-content;
  }

  .landing__get-started {
    width: 60%;
    font-size: 0.75rem;
    margin-top: 10px;
  }

  .landing__email {
    width: 100%;
    padding: 7px 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .landing__logo {
    width: 25%;
  }

  .landing__button {
    width: 20%;
    padding: 5px 10px;
  }

  #big-text {
    font-size: 3.9rem;
  }

  #small-text {
    font-size: 1.4rem;
  }

  #smaller-text {
    font-size: 1.2rem;
  }

  /* .landing__button-bar{
    flex-direction: column;
  } */

  .landing__get-started,
  .landing__email {
    font-size: 1rem;
    height: min-content;
  }

  .landing__get-started {
    width: 60%;
    font-size: 1rem;
    margin-top: 10px;
  }

  .landing__email {
    width: 100%;
    padding: 7px 10px;
  }
}
